p.error {
  input {
    border: 2px solid red;
  }
}

/*
span.error {
  display: none;
  color: red;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;

  + span.error {
    display: inline;
  }
}
*/
